<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Login</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>


<body>
    <header>
        <div class="containerLogo">
            <img src="assets/Logo.svg" alt="logo" class="logo">
        </div>
    </header>


    <div class="containerLogin">
        <div class="text">Log in</div>

        <div class="btnLogin">
            <button type="button" id="loginGoogle"> Continue with Google</button>
            <br />
            <button type="button" id="loginLnk"> Continue with LinkedIn</button>
        </div>
    </div>

    

</body>
</html>
